{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="card m-4">
        <div class="card-header info-color white-text">
            <div class="row">
                <div class="col-6 text-uppercase">
                    <h5><strong>{{title}}</strong></h5>
                </div>
                <div class="col-6 text-right">
                    <button type=button class="btn btn-sm btn-outline-white waves-effect m-0" onclick="history.back()"><i class="fas fa-arrow-left mr-1"></i> Back</button>
                </div>
            </div>
        </div>
        <div class="card-body px-lg-5 pt-0">

        {% from "_formhelpers.html" import render_field %}
        <form style="color: #757575;" action="" method="post">
            {{ form.hidden_tag() }}
            <p>
            <h4>General information:</h4>
            </p>
            <br>
            <!-- {{ render_field(form.type, cls="browser-default custom-select mb-4") }}-->
            {{ render_field(form.type, cls="form-control selectpicker mb-4", data_live_search="true", title="Choose one of the following...") }}
            {{ render_field(form.customer, cls="form-control selectpicker mb-4", data_live_search="true", title="Choose one of the following...") }}
            {{ render_field(form.start_date, cls="form-control mb-4") }}
            {{ render_field(form.end_date, cls="form-control mb-4") }}
            <hr>
            <p>
            <h4>Allocated resources:</h4>
            </p>
            <br>
            {{ render_field(form.num_instances, cls="form-control mb-4") }}
            {{ render_field(form.vcpu_cores, cls="form-control mb-4") }}
            {{ render_field(form.ram_gb, cls="form-control mb-4") }}
            {{ render_field(form.public_ips, cls="form-control mb-4") }}
            {{ render_field(form.storage_gb, cls="form-control mb-4") }}

             <button class="btn btn-info btn-block" type="submit">Send</button>
        </form>
        </div>
    </div>
 </div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {

        $('.select').selectpicker();
    });
</script>
{% endblock %}


