{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
    <!-- Heading -->
      <div class="card m-4">

        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between text-primary">
          <h4 class="mb-2 mb-sm-0 pt-1">
            <span class="text-uppercase">{{title}}</span>
          </h4>
          <div class="d-flex justify-content-center">
              <button type=button class="btn btn-sm btn-outline-blue waves-effect m-0" onclick="history.back()"><i class="fas fa-arrow-left mr-1"></i> Back</button>
          </div>
        </div>

      </div>
    <!-- End Heading -->
    <div class="card m-4">
        <div class="card-body px-lg-5 pt-0">
            <p>
            <h4>General information:</h4>
            </p>
            <br>
            <dl class="row">
                <dt class="col-sm-2">Name:</dt>
                <dd class="col-sm-10">{{ group.name }}</dd>
                <dt class="col-sm-2">Description:</dt>
                <dd class="col-sm-10">{{ group.description }}</dd>
            </dl>
            <hr>
            <p>
            <h4>Service Level Agreements:</h4>
            </p>
            <br>

            <div class="table-responsive">
                <table class="table table-striped dt-responsive nowrap table-sm" id="dtsla" width="100%" cellspacing="0" style="width:100%">
                <!--Table head-->
                  <thead class="blue lighten-4">
                    <tr>
                      <th class="th-sm">SLA id</th>
                      <th class="th-sm">Provider</th>
                      <th class="th-sm">Type</th>
                      <th class="th-sm">Start date</th>
                      <th class="th-sm">Expiration date</th>
                      <th class="th-sm">Actions</th>
                     </tr>
                  </thead>
                  <!--Table body-->
                  <tbody>
                    {% for sla in slas %}
                    <tr>
                        <td>{{ sla.id }}</td>
                        <td>{{ sla.provider }}</td>
                        <td>{{ sla.type }}</td>
                        <td>{{ sla.start_date }}</td>
                        <td>{{ sla.end_date }}</td>
                        <td>
                            <span><a role="button" class="btn btn-sm btn-primary mb-2" href="{{ url_for('sla_bp.view', sla_id=sla.id) }}">View</a></span>
                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>

        </div>
    </div>
 </div>
<br>

<script>
$(document).ready(function () {
    $('#dtsla').dataTable( {
    });
});
</script>

{% endblock %}
