<nav class="navbar navbar-expand-lg navbar-dark elegant-color-dark justify-content-between">
    <a class="navbar-brand" href="{{ url_for('sla_bp.list') }}">
        <strong style="cursive;">SLA Tool</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('provider_bp.list') }}">Providers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('sla_bp.list') }}">SLAs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('group_bp.list') }}">Groups</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="#">Documentation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/maricaantonacci/slat">GitHub</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
